/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  color: inherit;
  /* 2 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit;
  /* 1 */
  text-indent: 0;
  /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .theme {
    --backgroundColorBody: #161722;
    --backgroundColorList: #404259;
    --backgroundColorItem: #25273c;
    --colorText: #cacde8;
    --colorTextLight: #777a92;
    --colorTextLightHover: #e4e5f1;
    --backgroundColorBodyTopOne: #2E1FAC;
    --backgroundColorBodyTopTwo: #781C73;
    --colorBoxShadow: none;
    --colorTitle: #FDFDFF;
    --svgTheme: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="rgb(255,255,255)" fill-rule="evenodd" d="M13 21a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-5.657-2.343a1 1 0 010 1.414l-2.121 2.121a1 1 0 01-1.414-1.414l2.12-2.121a1 1 0 011.415 0zm12.728 0l2.121 2.121a1 1 0 01-1.414 1.414l-2.121-2.12a1 1 0 011.414-1.415zM13 8a5 5 0 110 10 5 5 0 010-10zm12 4a1 1 0 110 2h-3a1 1 0 110-2h3zM4 12a1 1 0 110 2H1a1 1 0 110-2h3zm18.192-8.192a1 1 0 010 1.414l-2.12 2.121a1 1 0 01-1.415-1.414l2.121-2.121a1 1 0 011.414 0zm-16.97 0l2.121 2.12A1 1 0 015.93 7.344L3.808 5.222a1 1 0 011.414-1.414zM13 0a1 1 0 011 1v3a1 1 0 11-2 0V1a1 1 0 011-1z"/></svg>');
  }
  .theme--invert {
    --backgroundColorBody: #fafafa;
    --backgroundColorList: #d2d3db;
    --backgroundColorItem: #ffffff;
    --colorText: #484b6a;
    --colorTextLight: #97969B;
    --colorTextLightHover: #484b6a;
    --backgroundColorBodyTopOne: #BB5CF6;
    --backgroundColorBodyTopTwo: #71A5FB;
    --colorBoxShadow: #b6b6b6;
    --colorTitle: #F8FCFD;
    --svgTheme: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" ><path fill="rgb(255,255,255)" fill-rule="evenodd" d="M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z"/></svg>');
  }
}
@media (prefers-color-scheme: light) {
  .theme {
    --backgroundColorBody: #fafafa;
    --backgroundColorList: #d2d3db;
    --backgroundColorItem: #ffffff;
    --colorText: #484b6a;
    --colorTextLight: #97969B;
    --colorTextLightHover: #484b6a;
    --backgroundColorBodyTopOne: #BB5CF6;
    --backgroundColorBodyTopTwo: #71A5FB;
    --colorBoxShadow: #b6b6b6;
    --colorTitle: #F8FCFD;
    --svgTheme: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" ><path fill="rgb(255,255,255)" fill-rule="evenodd" d="M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z"/></svg>');
  }
  .theme--invert {
    --backgroundColorBody: #161722;
    --backgroundColorList: #404259;
    --backgroundColorItem: #25273c;
    --colorText: #cacde8;
    --colorTextLight: #777a92;
    --colorTextLightHover: #e4e5f1;
    --backgroundColorBodyTopOne: #2E1FAC;
    --backgroundColorBodyTopTwo: #781C73;
    --colorBoxShadow: none;
    --colorTitle: #FDFDFF;
    --svgTheme: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="rgb(255,255,255)" fill-rule="evenodd" d="M13 21a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-5.657-2.343a1 1 0 010 1.414l-2.121 2.121a1 1 0 01-1.414-1.414l2.12-2.121a1 1 0 011.415 0zm12.728 0l2.121 2.121a1 1 0 01-1.414 1.414l-2.121-2.12a1 1 0 011.414-1.415zM13 8a5 5 0 110 10 5 5 0 010-10zm12 4a1 1 0 110 2h-3a1 1 0 110-2h3zM4 12a1 1 0 110 2H1a1 1 0 110-2h3zm18.192-8.192a1 1 0 010 1.414l-2.12 2.121a1 1 0 01-1.415-1.414l2.121-2.121a1 1 0 011.414 0zm-16.97 0l2.121 2.12A1 1 0 015.93 7.344L3.808 5.222a1 1 0 011.414-1.414zM13 0a1 1 0 011 1v3a1 1 0 11-2 0V1a1 1 0 011-1z"/></svg>');
  }
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/font/josefinSans/JosefinSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/font/josefinSans/JosefinSans-Bold.ttf);
  font-weight: 700;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Josefin Sans";
  background: 0 0/100vw 12.5rem linear-gradient(90deg, var(--backgroundColorBodyTopOne), var(--backgroundColorBodyTopTwo)) no-repeat var(--backgroundColorBody);
  transition: background-color 2s ease;
}

button,
input[type=submit] {
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3 {
  margin: 0;
}

input[type=text] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.o-checkbox {
  display: none;
}
.o-checkbox + label {
  position: relative;
  display: block;
}
.o-checkbox + label::before {
  content: " ";
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 9px;
  background-color: var(--backgroundColorItem);
  border-radius: 1rem;
}
.o-checkbox + label::after {
  content: url('data:image/svg+xml;charset=UTF-8, <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.3361 0.292786C8.94548 -0.0975952 8.31267 -0.0975952 7.92204 0.292786L3.51872 4.69586L1.87809 3.11163C1.48063 2.72784 0.847821 2.73907 0.464032 3.13629L0.280439 3.32599C-0.10335 3.72321 -0.0916317 4.35626 0.305829 4.73981L1.9113 6.30328L2.80388 7.19562C3.1945 7.58624 3.82731 7.58624 4.21794 7.19562L9.52165 1.8924C9.91227 1.50177 9.91227 0.868713 9.52165 0.478088L9.3361 0.292786Z" fill="white"/></svg>');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  text-align: center;
  background: var(--backgroundColorList);
  border-radius: 1rem;
}
.o-checkbox:checked ~ .c-list__task {
  color: var(--colorTextLight);
  text-decoration: line-through;
}
.o-checkbox:checked + label::after {
  background: linear-gradient(to right bottom, #57ddff, #c058f3);
}
.o-checkbox:checked + label::before {
  background-color: transparent;
}

.c-container {
  display: flex;
  flex-direction: column;
  width: 26.5rem;
  padding: 2rem 1.5rem 0;
}
.c-container__without-tasks {
  text-align: center;
  padding: 1rem 1.25rem;
  background-color: var(--backgroundColorItem);
  box-shadow: 0 0 0.5rem var(--colorBoxShadow);
  font-size: 0.875rem;
  color: var(--colorText);
  border-radius: 0.25rem 0.25rem 0 0;
  transition: color 1s ease, background-color 2s ease;
}
.c-container__message {
  display: none;
}

.c-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: var(--colorTitle);
}
.c-header__btn-theme::before {
  content: var(--svgTheme);
}

.c-form {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  background-color: var(--backgroundColorItem);
  box-shadow: 0 0 0.5rem var(--colorBoxShadow);
  border-radius: 0.25rem;
  transition: background-color 2s ease;
}
.c-form__input {
  width: 100%;
  font-family: inherit;
  font-size: 0.75rem;
  background-color: transparent;
  color: var(--colorText);
}

.c-list {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: var(--backgroundColorList);
  box-shadow: 0 0 0.5rem var(--colorBoxShadow);
  list-style: none;
}
.c-list__item {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: var(--backgroundColorItem);
  color: var(--colorText);
  transition: background-color 2s ease;
}
.c-list__task {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  transition: color 1s ease, text-decoration 1s ease;
}
.c-list__btn-delete {
  line-height: 0;
  transform: scale(0.8);
}
.c-list__btn-delete path {
  fill: var(--colorTextLight);
}

.c-menu {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  margin-bottom: 2.75rem;
  font-size: 0.75rem;
  color: var(--colorTextLight);
  border-top: 1px solid var(--backgroundColorList);
}
.c-menu__number-task {
  border-bottom-left-radius: 0.25rem;
}
.c-menu__btn-clear {
  font-size: inherit;
  color: inherit;
  transition: color 0.3s ease-in;
}
.c-menu__top {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  background-color: var(--backgroundColorItem);
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 0.5rem var(--colorBoxShadow);
  transition: background-color 2s ease;
}
.c-menu__bottom {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--backgroundColorItem);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem var(--colorBoxShadow);
  transition: background-color 2s ease;
}
.c-menu__option input[type=radio] {
  display: none;
}
.c-menu__option label {
  transition: color 0.3s ease;
}
.c-menu__option input[type=radio]:checked + label {
  color: #3a7bfd;
}

.horizontally-centered {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.border {
  outline: #3a7bfd dashed 2px;
  outline-offset: -0.5rem;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 100vw 18.75rem;
  }

  .c-container {
    width: 33.75rem;
    padding: 5.75rem 0 0;
  }
  .c-container__without-tasks {
    padding: 1.25rem 1.5rem;
    font-size: 1.125rem;
  }

  .c-header {
    margin-bottom: 2.25rem;
  }
  .c-header__title {
    font-size: 2.75rem;
  }

  .c-form {
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.5rem;
  }
  .c-form__input {
    font-size: 1.125rem;
  }

  .c-list__item {
    padding: 1.25rem 1.5rem;
  }
  .c-list__task {
    font-size: 1.125rem;
  }
  .c-list__btn-delete {
    transform: scale(1);
  }

  .c-menu {
    row-gap: 1.25rem;
    margin-bottom: 3.25rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 0.875rem;
  }
  .c-menu__top {
    grid-row: 1/2;
    grid-column: 1/4;
    align-items: center;
  }
  .c-menu__bottom {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 1rem;
    border-radius: 0;
    box-shadow: none;
  }
}
@media screen and (min-width: 960px) {
  .o-checkbox + label {
    cursor: pointer;
  }
  .o-checkbox:hover + label::after {
    background: linear-gradient(to right bottom, #57ddff, #c058f3);
  }

  .c-container__message {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    color: var(--colorTextLight);
    padding-bottom: 2rem;
  }

  .c-header__btn-theme {
    cursor: pointer;
  }

  .c-list__task {
    cursor: pointer;
    animation: text-decoration 2s ease color 2s ease;
  }
  .c-list__task:hover .c-list__btn-delete {
    opacity: 1;
  }
  .c-list__btn-delete {
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
  }
  .c-list__btn-delete path {
    transition: fill 0.2s ease;
  }
  .c-list__btn-delete:hover path {
    fill: var(--colorTextLightHover);
  }

  .c-menu__btn-clear {
    cursor: pointer;
  }
  .c-menu__btn-clear:hover {
    color: var(--colorTextLightHover);
  }
  .c-menu__option label {
    cursor: pointer;
  }
  .c-menu__option:hover {
    color: var(--colorTextLightHover);
  }
}
/* Generic */
/* Theme */
/* Elements */
/* Objetcs */
/* Components */
/* Utilities */
/* Responsive */

/*# sourceMappingURL=index.css.map */
