@use "../1.settings/variables";

@media screen and (min-width: 768px) {
  body {
    background-size: 100vw 18.75rem;
  }
  .c-container {
    width: variables.$size-desktop;
    padding: variables.$spacing-container-top-m 0 0;
  }
  .c-header {
    margin-bottom: 2.25rem;
    &__title {
      font-size: variables.$fs-title-m;
    }
  }
  .c-form {
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.5rem;
    &__input {
      font-size: variables.$fs-text-xl;
    }
  }
  .c-list {
    &__item {
      padding: 1.25rem 1.5rem;
    }
    &__task {
      font-size: variables.$fs-text-xl;
    }
  }
  .c-menu {
    & {
      row-gap: 1.25rem;
      margin-bottom: 3.25rem;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 2fr 1fr;

      font-size: variables.$fs-text-m;
    }
    &__top {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      align-items: center;
    }
    &__bottom {
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      font-size: variables.$fs-text-l;
      
      border-radius: 0;
      box-shadow: none;
    }
  }
}
