@use '../1.settings/variables';

.horizontally-centered {
    display: flex;
    justify-content: center;
}

.aling-center {
    text-align: center;
    font-size: variables.$fs-text-m;
    color: var(--colorTextLight);
    padding-bottom: 2rem;
}