@use "../1.settings/variables";

.horizontally-centered {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.border {
  outline: variables.$selectedOption dashed 2px;
  outline-offset: -0.5rem;
}
