@use '../1.settings/variables';
.c-list {
    & {
        display: flex;
        flex-direction: column;
        row-gap: 1px;
        margin: 0;
        padding-left: 0;
        overflow: hidden;

        border-radius: 0.25rem 0.25rem 0 0;
        background-color: var(--backgroundColorList);
        box-shadow: 0 0 .5rem var(--colorBoxShadow);

        list-style: none;
    }
    
    &__item {
        display: flex;
        gap: 1rem;
        padding: 1rem 1.25rem;

        background-color: var(--backgroundColorItem);
        color: var(--colorText);
    }

    &__task{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;

        font-size: variables.$fs-text-s;
    }
}